APP_NAME=VecinoSeguro
APP_ENV=development
DEBUG=true
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=vecino_seguro
DATABASE_USER=root
DATABASE_PASSWORD=change_me
SECRET_KEY=change_me
ACCESS_TOKEN_EXPIRE_MINUTES=60

